<web-app>

    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>com.lara.Servlet1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s2</servlet-name>
        <servlet-class>com.lara.Servlet2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s3</servlet-name>
        <servlet-class>com.lara.Servlet3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s3</servlet-name>
        <url-pattern>/s3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s4</servlet-name>
        <servlet-class>com.lara.Servlet4</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s4</servlet-name>
        <url-pattern>/s4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s5</servlet-name>
        <servlet-class>com.lara.Servlet5</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s5</servlet-name>
        <url-pattern>/s5</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s6</servlet-name>
        <servlet-class>com.lara.Servlet6</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s6</servlet-name>
        <url-pattern>/s6</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s7</servlet-name>
        <servlet-class>com.lara.Servlet7</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s7</servlet-name>
        <url-pattern>/s7</url-pattern>
    </servlet-mapping>

</web-app>